<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wybierz godzinę odjazdu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark navbar-expand-md bg-navbar">

    <a class="navbar-brand" href="/"><img src="https://www.pinclipart.com/picdir/big/108-1082951_entertaining-stories-train-icon-clipart.png" width="30" height="30" class="d-inline-block mr-1 align-bottom" alt="">Koleje.pl</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainmenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/bilet/trasa">Kup bilet</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/trasy">Zobacz trasy</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/sprawdzPolaczenia">Sprawdź połączenia</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-1">
            <li class="nav-item active mr-1">
                <a class="nav-link" href="/mojeKonto">Moje konto</a>
            </li>
        </ul>

    </div>

</nav>

<section class="panel">
    <div class="container">
        <header>
            <h2>Wybierz godzinę odjazdu</h2>
        </header>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h2>Odjazdy z przystanku <b th:text="${nazwaPrzysPocz}"></b></h2>

                <div class="table_responsive">
                    <table class="table table-borderless table-hover table-striped">
                        <thead class="thead-dark">
                        <tr class="active">
                            <th>Data i godzina odjazdu</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="l : ${listaPocz}">
                            <td><b th:utext="${l.dataGodzinaOdjazdu}">...</b></td>
                        </tbody>
                    </table>
                </div>
            </div>



            <div class="col-xs-12 col-md-6">
            <h2>Przyjazdy  na przystanek <b th:text="${nazwaPrzysKon}"></b></h2>
                <div class="table_responsive">
                    <table class="table table-borderless table-hover table-striped">
                        <thead class="thead-dark">
                        <tr class="active">
                            <th>Data i godzina odjazdu</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="l : ${listaKon}">
                            <td><b th:utext="${l.dataGodzinaOdjazdu}">...</b></td>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
        <div class="d-flex justify-content-center">
            <form method="POST" th:object="${nowyBilet}" action="/bilet/potwierdz">

                <div class="form-group">
                    <label for="exampleKurs">Wybierz kurs:</label>
                    <select th:field="${nowyBilet.odjazdId}" id="exampleKurs" class="custom-select" required>
                        <option selected disabled value="">Wybierz godzinę odjazdu</option>
                        <option th:each="l :${listaPocz}" th:value="${l.odjazdId}" th:text="${l.dataGodzinaOdjazdu}"></option>
                    </select>
                </div>
                <br/>
                <input type="submit" value="Wybierz" class="btn btn-primary"/>

                <input type="hidden" th:field="${nowyBilet.trasaID}" th:value="${nowyBilet.trasaID}">
                <input type="hidden" th:field="${nowyBilet.przystanekPoczatkowy}" th:value="${nowyBilet.przystanekPoczatkowy}">
                <input type="hidden" th:field="${nowyBilet.przystanekKoncowy}" th:value="${nowyBilet.przystanekKoncowy}" >
                <input type="hidden" th:field="${nowyBilet.klientId}" th:value="${nowyBilet.klientId}">
            </form>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>